@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    font-family: 'Raleway', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img{
    max-width: 100%;
}
a, a:hover, a:focus, a:visited{
    text-decoration: none;
}
.form-control:focus{
    border: none;
    box-shadow: 0 3px 6px rgb(0 0 0 / 16%);
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}  
.btn.focus, .btn:focus{
    box-shadow: 0 3px 6px rgb(0 0 0 / 16%);
}
b {
    font-weight: 600;
}
/* Main Css */
.bg-gradient{
    background: rgb(255,0,96);
    background: linear-gradient(180deg, rgba(255,0,96,1) 0%, rgba(255,144,0,1) 100%);
    min-height: 100vh;
    position: relative;
}
.container-fluid{
    min-height: 100%;
}
.def-center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.splash-logo {
    max-width: 63%;
}
.header-logo {
    max-width: 58%;
    margin: auto;
    padding-top: 58px;
}
h1.page-title {
    margin-top: 30px;
    font-size: 28px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}
.custom-form-wrapper {
    margin: 100px 0 0 -15px;
    max-width: 85%;
}
.custom-form-wrapper > form{
    position: relative;
}
.form-group{
    margin: -1px 0 0;
}
.form-control {
    height: 100px;
    border: none;
    border-radius: 0 45px 45px 0;
    box-shadow: 0 3px 6px rgb(0 0 0 / 16%);
    padding: 10px 25px 10px 80px;
}

.form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #B5B4B4;
    font-size: 16px;
}
.form-control::-moz-placeholder { /* Firefox 19+ */
    color: #B5B4B4;
    font-size: 16px;
}
.form-control:-ms-input-placeholder { /* IE 10+ */
    color: #B5B4B4;
    font-size: 16px;
}
.form-control:-moz-placeholder { /* Firefox 18- */
    color: #B5B4B4;
    font-size: 16px;
}
.large-text.form-control {
    font-size: 56px;
    letter-spacing: 40px;
    padding: 0 20px;
    color: #FF0E56;
}
button.btn.btn-icon {
    height: 70px;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: rgb(255,0,96);
    background: linear-gradient(180deg, rgba(255,0,96,1) 0%, rgba(255,144,0,1) 100%);
    border: 8px solid #fff;
    position: absolute;
    top: 50%;
    right: -30px;
    transform: translateY(-50%);
    box-shadow: 0 10px 6px rgb(0 0 0 / 16%);
}

input.form-control.showicon.icon-user {
    background: #fff url(../images/icon-user.png) no-repeat;
    background-position: 20px 50%;
}
input.form-control.showicon.icon-password {
    background: #fff url(../images/icon-password.png) no-repeat;
    background-position: 20px 50%;
}
.border-separator {
    background: #707070;
    opacity: 0.86;
    height: 0.5px;
}
.link-wrapper {
    text-align: right;
    padding: 16px 0 150px;
    margin-right: -25px;
}
.link-wrapper > a{
    font-size: 18px;
    color: #fff;
}
.back-links {
    position: absolute;
    bottom: 0;
    padding: 18px 30px;
    width: 100%;
    background: rgb(233 120 23 / 50%);
    left: 0;
}
.back-links > a {
    font-size: 18px;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
}
p.subtitle {
    text-align: center;
    padding-top: 32px;
    color: #fff;
    font-size: 16px;
    line-height: 1.4;
    font-weight: lighter;
}
p.subtitle b{
    font-weight: 500;
}
.wid-wrapper {
    display: flex;
    align-items: center;
    padding: 0 0 0 20px;
    justify-content: space-between;
}
.counter-clock {
    font-size: 20px;
    color: #fff;
    font-weight: 600;
}
button.btn.btn-trans {
    background: none;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}
/* dashboard screen */
.page-bg {
    position: relative;
    background: #F6F6F6;
    min-height: 100vh;
}
.page-header{
    z-index: 99;
    position: relative;
}
.card-image {
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.page-bg::after{
    position: absolute;
    content: "";
    background: rgb(255,0,96);
    background: linear-gradient(180deg, rgba(255,0,96,1) 0%, rgba(255,144,0,1) 100%);
    width: 100%;
    height: 250px;
    top: 0;
    left: 0;
    border-radius: 0 0 35px 35px;
}
.page-bg .page-header h1.page-title {
    padding: 70px 0 35px;
}
.banner-image {
    text-align: center;
    margin-bottom: 30px;
    text-align: center;
    position: relative;
    z-index: 99;
}
.banner-image > img{
    border-radius: 30px;
    box-shadow: 0 9px 15px 0 rgb(0 0 0 / 16%);
}
.category-selection ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.category-selection ul > li {
    width: 45%;
}
.card {
    background: #fff;
    border-radius: 20px;
    padding: 15px 7px;
    text-align: center;
    margin-bottom: 20px;
    border: none;
    box-shadow: 0 9px 15px 0 rgb(0 0 0 / 16%);
    min-height: 173px;
}
.card-title {
    font-size: 16px;
    color: #3D3D3D;
    line-height: 1.3;
}
.page-header a {
    max-width: 17px;
    display: inline-block;
    float: left;
    line-height: 0.8;
}

/* product-list */
.product-search {
    z-index: 99;
    position: relative;
}
.form-control.form-control-different {
    height: 48px;
    border-radius: 10px;
    padding: 10px;
    color: #B5B4B4;
}
.product-search > form{
    position: relative;
}
button.btn.btn-gradient {
    position: absolute;
    top: 1px;
    right: 1px;
    height: 45px;
    width: 45px;
    text-align: center;
    line-height: 39px;
    background: rgb(255,0,96);
    background: linear-gradient(180deg, rgba(255,0,96,1) 0%, rgba(255,144,0,1) 100%);
    border-radius: 10px;
}
.product-list-wrapper {
    z-index: 99;
    position: relative;
    margin-top: 20px;
}
.card-width {
    background: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 3px 6px 0 rgb(0 0 0 / 16%);
    margin-bottom: 15px;
}
.card-title-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card-header-title {
    font-weight: 600;
    font-size: 14px;
    padding-top: 4px;
    color: #575757;
}
.action-btn > ul > li {
    display: inline-block;
}
.action-btn > ul > li + li{
    margin-left: 5px;
}
.action-btn > ul > li > a.ation-btn {
    max-width: 12px;
    display: block;
}
.action-btn > ul > li:first-child > a.ation-btn{
    max-width: 16px;
}
.product-id, .email-id, .phone-id, .customer-id, .product-name, .card-width-info{
    font-size: 11px;
    color: #575757;
    padding-top: 5px;
}
.card-footer {
    padding: 0;
    background: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card-footer > p {
    font-size: 11px;
    padding-top: 5px;
    color: #575757;
}
.card-footer > p:last-child{
    color: #FF661B;
    font-weight: 600;
    font-size: 11px;
}
.add-product-btn {
    position: fixed;
    width: 70px;
    height: 70px;
    bottom: 0;
    right: 0;
    z-index: 99;
}
.add-product-btn {
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 99;
}
button.btn.btn-add-prod {
    background: rgb(255,0,96);
    background: linear-gradient(230deg, rgba(255,0,96,1) 0%, rgba(255,144,0,1) 100%);
    height: 70px;
    width: 70px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal{
    background: rgb(0 0 0 / 77%);
}
.modal-content {
    background: #F6F6F6;
    border-radius: 15px;
    box-shadow: 0 3px 6px 0 rgb(0 0 0 / 16%);
    padding: 38px 28px;
}
.modal-header {
    padding: 0;
    align-items: center;
    justify-content: center;
    border: none;
}
h5.modal-title {
    font-size: 18px;
    color: #FF7511;
    font-weight: 600;
    margin-bottom: 20px;
}
.add-product-form .form-group{
    margin-bottom: 12px;
}
.modal-body {
    padding: 0;
}
.inrow {
    display: flex;
    flex-direction: row;
}
.inrow-half{
    flex: 1 1 0;
}
.inrow-half + .inrow-half{
    margin-left: 10px;
}
button.btn.btn-blk {
    background: rgb(255,0,96);
    background: linear-gradient(90deg, rgba(255,0,96,1) 0%, rgba(255,144,0,1) 100%);
    width: 100%;
    color: #fff;
    border-radius: 10px;
    height: 48px;
    text-transform: uppercase;
    font-weight: 600;
    box-shadow: 0 3px 6px 0 rgb(0 0 0 / 16%);
}
.btn-wrapper {
    text-align: center;
    padding-top: 12px;
}
.btn-wrapper > button.btn {
    width: 70%;
}
/* quantity counter */
.qty-input {
    position: relative;
}
input.form-control.form-control-different.product-qty{
    text-align: center;
}
button.qty-count {
    position: absolute;
    height: 35px;
    width: 35px;
    background: rgb(255,0,96);
    background: linear-gradient(90deg, rgba(255,0,96,1) 0%, rgba(255,144,0,1) 100%);
    border-radius: 10px;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
button.qty-count.qty-count--add {
    right: 5px;
}
button.qty-count.qty-count--minus {
    left: 5px;
}
/* Order details */
.order-detal-page.page-bg::after{
    height: 265px;
}
.receipt-date {
    display: flex;
    justify-content: space-between;
    color: #fff;
    padding-bottom: 10px;
}
h4.companyname {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: #fff;
    padding-bottom: 5px;
}
.order-detail-info h6 {
    text-align: center;
    color: #fff;
    padding: 3px 0;
}
.receipt-info {
    display: flex;
    justify-content: space-between;
    color: #fff;
    font-weight: 600;
    padding-top: 5px;
}
/* table Css*/
table{ 
	margin: 32px 0 0; 
}

th{ 
	font-weight: bold; 
}

td, th{ 
    padding: 10px 5px;
	border: 2px solid #707070; 
	text-align: left;
    font-size: 10px;
    text-align: center;
}
.payment-info {
    margin-top: 20px;
}
.theme-color {
    color: #FF7511;
    font-size: 10px;
    font-weight: 600;
    margin-block: 10px;
}
.act-btn-wrapper {
    padding-bottom: 30px;
}
button.btn.btn-blk.btn-heavy {
    word-break: break-word;
    min-height: 100%;
    white-space: pre-wrap;
    font-size: 16px;
    height: 70px;
}
.declaration {
    margin-bottom: 20px;
    font-size: 11px;
    line-height: 1.2;
    color: #FF0000;
    font-weight: 600;
}

/* select css */
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: #2c3e50;
    background-image: none;
    flex: 1;
    padding: 0 .5em;
    color: #fff;
    cursor: pointer;
}

select::-ms-expand {
    display: none;
}
/* Custom Select */
.select {
    position: relative;
    display: flex;
    height: 48px;
    overflow: hidden;
    border-radius: .25em;
    margin-top: 10px;
}
/* Arrow */
.select::after {
    content: '';
    cursor: pointer;
    pointer-events: none;
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
    position: absolute;
    top: 1px;
    right: 1px;
    height: 45px;
    width: 45px;
    text-align: center;
    background: rgb(255,0,96);
    background: url(../images/caret-down.svg) no-repeat ,linear-gradient( 180deg, rgba(255,0,96,1) 0%, rgba(255,144,0,1) 100%);
    border-radius: 10px;
    background-position: center;
}
/* Transition */
.select:hover::after {
    color: #f39c12;
}
button.btn.btn-blk.btn-small {
    font-size: 11px;
    height: auto;
    width: auto;
    padding: 10px;
}
.btn-wrap .inrow button.btn {
    width: 25%;
    white-space: pre-wrap;
}
.btn-wrap .inrow button.btn + button{
    margin-left: 5px;
}
/* media queries */
@media only screen and (min-width: 991px){
    .splash-logo {
        max-width: 500px;
    }
}
@media only screen and (max-width: 388.9px){
    button.btn.btn-blk.btn-heavy {
        font-size: 16px;
        height: 80px;
    }
}
@media only screen and (max-width: 340px){
    .order-detail-info {
        font-size: 14px;
    }
}
@media only screen and (max-width: 290px){
    .splash-logo {
        max-width: 500px;
    }
    .category-selection ul > li {
        width: 100%;
    }
}